body {
  background-color:#D3C399;
}


nav {
  padding: 30px 50px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5%;
  margin: 0;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
  position: relative;
  transition: letter-spacing 0.3s ease;
}


.nav-links a:hover {
  letter-spacing: 3px;
}


.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}



.nav-links a:hover::after {
  width: 100%;
}




h1 {
  animation: slideIn 0.7s ease-out;
  font-size: 40px;
  text-align: center;
  margin: auto;
}

@keyframes slideIn {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}



table {

  width: 88%;
  font-size: 30px;
  border-collapse: separate;
  border-spacing: 15px;


}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 15px;

}

th {
  background-color: #BED7F4;

}

td {
  background-color: beige;
}

.container {
  display: flex;
  justify-content: center;

}
@keyframes zoomInAnimation {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
img{
 

width: 40%;
height: 70%;

  animation-name:zoomInAnimation ;
  animation-duration:0.7s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;

  

}


